$font-sans: "Open Sans";
$font-serif: "Arvo";
$be-yellow: #FFC31F;
$be-yellow-dark: darken( $be-yellow, 15% );
html {
	font-size: 62.5%;
}
body {
	margin: 0;
}
footer {
	order: 10;
	background-color: $be-yellow;
	width: 100%;
	p {
		font-size: 5rem;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		color: $be-yellow-dark
	}
}
.verticle-center {
	display: table;
	width: 100vw;
	height: auto;
}
.container {
	display: flex;
	flex-direction: column;
}
.title-box {
	order: 1;
	width: 100vw;
	height: 100vh;
	background: 
	    /* top, transparent red, faked with gradient */ 
	    linear-gradient(
	      rgba(255, 88, 63, 0.5), 
	      rgba(255, 88, 63, 0.5)
	    ),
	    /* bottom, image */
	    url(../img/moody.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	h1 {
		display: table-cell;
		font-family: $font-serif;
		font-size: 4rem;
		color: rgba(255, 255, 255, .8);
		vertical-align: middle;
		text-align: center;
	}
	.logo {
		position: relative;
		width: 40vw;
		height: 40vw;
		margin-top: 5rem;
		margin-left: auto;
		margin-right: auto;
		background-image: url(../img/mch-logo.svg);
	}
}
.audio-player {
	order: 4;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, .8);
	height: 36px;
}
.audio-player-replacement {
	order: 5;
	height: 36px;
}
.soundcloud {
	width: 80%;
	margin: 8px auto auto auto;
}
.main-content {
	order: 2;
	width: 100vw;

}
.main-content p {
	margin: 3rem;
	font-family: $font-sans;
	font-size: 16px; font-size: 1.6rem;
	line-height: 2.4rem;
}
button#play-pause-btn {
	background-image: url(../img/play.png);
	width: 150px;
	height: 150px;
	cursor: pointer;
}
